﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - KCC Uploader</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <environment include="Development">
        <!-- VENDOR CSS -->
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <!-- Icons-->
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/coreui/icons/css/coreui-icons.css" rel="stylesheet" />
        <link href="~/lib/flag-icon-css/css/flag-icon.css" rel="stylesheet" />
        <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
        <link href="~/lib/pace-progress/css/pace.css" rel="stylesheet" />
        <!-- MAIN CSS -->
        <link href="~/lib/coreui/css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <!-- VENDOR CSS -->
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/lib/coreui/icons/css/coreui-icons.min.css" rel="stylesheet" />
        <link href="~/lib/flag-icon-css/css/flag-icon.css" rel="stylesheet" />
        <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
        <link href="~/lib/pace-progress/css/pace.css" rel="stylesheet" />
        <!-- MAIN CSS -->
        <link href="~/lib/coreui/css/style.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Headers", required: false)

    <!-- ICONS -->
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/favicon.ico">
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <!-- CoreUI and necessary plugins-->
        <script src="~/lib/pace-progress/js/pace.min.js"></script>

        @*<script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.js"></script>*@
        <script src="~/lib/coreui/dist/js/coreui.js"></script>
        <!-- Plugins and scripts required by this view-->
        @*<script src="~/lib/chart.js/dist/Chart.js"></script>
        <script src="~/lib/coreui/js/custom-tooltips.js"></script>
        <script src="~/lib/coreui/js/main.js"></script>*@

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.dataTables.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!-- CoreUI and necessary plugins-->
        <script src="~/lib/pace-progress/pace.min.js"></script>

        <script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="~/lib/coreui/dist/js/coreui.min.js"></script>
        <!-- Plugins and scripts required by this view-->
        @*<script src="~/lib/chart.js/dist/Chart.min.js"></script>
        <script src="~/lib/coreui/js/custom-tooltips.js"></script>
        <script src="~/lib/coreui/js/main.js"></script>*@

        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.dataTables.min.js"></script>
    </environment>
</head>

<!-- BODY -->
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    @*<partial name="_CookieConsentPartial" />*@

    <!-- NAVBAR -->
    <partial name="_NavBar" />
    <!-- END NAVBAR -->

    <div class="app-body">

        <!-- LEFT SIDEBAR -->
        <partial name="_SideBar" />
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT -->

        <main class="main">

            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                @*<li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">
                    <a href="#">Admin</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>*@
                <!-- Breadcrumb Menu-->
                <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group" role="group" aria-label="Button group">
                        
                        <a class="btn" href="/">
                            <i class="icon-graph"></i>  Dashboard
                        </a>
                        <a class="btn" href="/app/setting">
                            <i class="icon-settings"></i>  Settings
                        </a>
                        <a class="btn" href="/jobs">
                            <i class="icon-energy"></i> Jobs
                        </a>
                        <a class="btn" target="_blank" href="https://fasalrin.gov.in/login">
                            <i class="icon-graph"></i>  Fasalrin Portal
                        </a>
                    </div>
                </li>
            </ol>
            <div flashes></div>
            @RenderBody()
        </main>
        <!-- END MAIN CONTENT -->
        <!-- ASIDE MENU -->
        <partial name="_AsideMenu" />
        <!-- END ASIDE MENU -->


    </div>

    <footer class="app-footer">
        <div>
            <a href="https://uttarakhandgraminbank.com/">Uttarakhand Gramin Bank</a>
            <span>&copy; 2022.</span>
        </div>
        <div class="ml-auto">
            <span>Powered by</span>
            <a href="https://vijatshisoftware.com/">Vijatshi Software</a>
        </div>
    </footer>

    

    @RenderSection("Scripts", required: false)

</body>
</html>
