﻿<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                    @*<span class="badge badge-primary">NEW</span>*@
                </a>
            </li>
            <li class="nav-title">KCC ISS</li>
            <li class="nav-item">
                <a class="nav-link" href="/Batch/List">
                    <i class="nav-icon icon-drop"></i> Batches
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Batch/Applications">
                    <i class="nav-icon icon-pencil"></i> Applications
                </a>
            </li>
            <li class="nav-title">Masters</li>
            <li class="nav-item">
                <a class="nav-link" href="/Master/States">
                    <i class="nav-icon icon-drop"></i> States
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Master/Districts">
                    <i class="nav-icon icon-pencil"></i> Districts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Master/Branches">
                    <i class="nav-icon icon-pencil"></i> Branches
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/master/Locations">
                    <i class="nav-icon icon-pencil"></i> Locations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Master/Crops">
                    <i class="nav-icon icon-pencil"></i> Crops
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Master/GeneralMaster">
                    <i class="nav-icon icon-pencil"></i> General Master
                </a>
            </li>
            @*<li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i> Base
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="/base/breadcrumb">
                        <i class="nav-icon icon-puzzle"></i> Breadcrumb
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/cards">
                        <i class="nav-icon icon-puzzle"></i> Cards
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/carousel">
                        <i class="nav-icon icon-puzzle"></i> Carousel
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/collapse">
                        <i class="nav-icon icon-puzzle"></i> Collapse
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/forms">
                        <i class="nav-icon icon-puzzle"></i> Forms
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/jumbotron">
                        <i class="nav-icon icon-puzzle"></i> Jumbotron
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/list-group">
                        <i class="nav-icon icon-puzzle"></i> List group
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/navs">
                        <i class="nav-icon icon-puzzle"></i> Navs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/pagination">
                        <i class="nav-icon icon-puzzle"></i> Pagination
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/popovers">
                        <i class="nav-icon icon-puzzle"></i> Popovers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/progress">
                        <i class="nav-icon icon-puzzle"></i> Progress
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/scrollspy">
                        <i class="nav-icon icon-puzzle"></i> Scrollspy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/switches">
                        <i class="nav-icon icon-puzzle"></i> Switches
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/tables">
                        <i class="nav-icon icon-puzzle"></i> Tables
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/tabs">
                        <i class="nav-icon icon-puzzle"></i> Tabs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base/tooltips">
                        <i class="nav-icon icon-puzzle"></i> Tooltips
                    </a>
                </li>
            </ul>
        </li>*@
            @*<li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-cursor"></i> Buttons
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="/buttons/buttons">
                        <i class="nav-icon icon-cursor"></i> Buttons
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/buttons/button-group">
                        <i class="nav-icon icon-cursor"></i> Buttons Group
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/buttons/dropdowns">
                        <i class="nav-icon icon-cursor"></i> Dropdowns
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/buttons/brand-buttons">
                        <i class="nav-icon icon-cursor"></i> Brand Buttons
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/charts">
                <i class="nav-icon icon-pie-chart"></i> Charts
            </a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-star"></i> Icons
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="/icons/coreui-icons">
                        <i class="nav-icon icon-star"></i> CoreUI Icons
                        <span class="badge badge-success">NEW</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/icons/flags">
                        <i class="nav-icon icon-star"></i> Flags
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/icons/font-awesome">
                        <i class="nav-icon icon-star"></i> Font Awesome
                        <span class="badge badge-secondary">4.7</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/icons/simple-line-icons">
                        <i class="nav-icon icon-star"></i> Simple Line Icons
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-bell"></i> Notifications
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="/notifications/alerts">
                        <i class="nav-icon icon-bell"></i> Alerts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications/badge">
                        <i class="nav-icon icon-bell"></i> Badge
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications/modals">
                        <i class="nav-icon icon-bell"></i> Modals
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/widgets">
                <i class="nav-icon icon-calculator"></i> Widgets
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>*@
            @*<li class="divider"></li>
        <li class="nav-title">Extras</li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-star"></i> Pages
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="/public/login" target="_top">
                        <i class="nav-icon icon-star"></i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/public/register" target="_top">
                        <i class="nav-icon icon-star"></i> Register
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/public/404" target="_top">
                        <i class="nav-icon icon-star"></i> Error 404
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/public/500" target="_top">
                        <i class="nav-icon icon-star"></i> Error 500
                    </a>
                </li>
            </ul>
        </li>*@
            <li class="nav-item mt-auto">
                <a class="nav-link nav-link-success" href="/app/setting" target="_top">
                    <i class="nav-icon icon-wrench"></i> Setting
                </a>
            </li>
            @*<li class="nav-item">
            <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
                <i class="nav-icon icon-layers"></i> Try CoreUI
                <strong>PRO</strong>
            </a>
        </li>*@
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>