﻿@model KCC_App.KCCModels.KCCConfig
@{
    ViewData["Title"] = "Manage Setting";
}
@Html.PartialAsync("_Flash")
<div class="text-left">
    <h1 class="display-4">KCC Configuration</h1>
    @using (Html.BeginForm("SaveConfig", "Setting", FormMethod.Post))
    {

<table cellpadding="0" cellspacing="0">
    <tr>
        <th colspan="2" align="center">Person Details</th>
    </tr>
    <tr class="hide">
        <td>Id: </td>
        <td>
            @Html.TextBoxFor(m => m.Id)
        </td>
    </tr>
    <tr>
        <th colspan="2" align="center">Person Details</th>
    </tr>
    <tr>
        <td>Financial Year: </td>
        <td>
            
            @Html.DropDownListFor(m => m.FinancialYear, ViewBag.years as SelectList, new { @class = "form-control" })

           
        </td>
    </tr>
    <tr>
        <td>Bank Code: </td>
        <td>
            @Html.TextBoxFor(m => m.BankCode)
        </td>
    </tr>
    <tr>
        <td>AuthKey: </td>
        <td>
            @Html.TextBoxFor(m => m.AuthKey)
        </td>
    </tr>
    <tr>
        <td>EndPoint: </td>
        <td>
            @Html.TextBoxFor(m => m.EndPoint)
        </td>
    </tr>
            <tr class="hide">
        <td>EncryptKeyId: </td>
        <td>
            @Html.TextBoxFor(m => m.EncryptKey.EncryptKeyId)
        </td>
    </tr>
    <tr>
        <td>IV Key: </td>
        <td>
            @Html.TextBoxFor(m => m.EncryptKey.IVkey)
        </td>
    </tr>
    <tr>
        <td>EndPoint: </td>
        <td>
            @Html.TextBoxFor(m => m.EncryptKey.Secretkey)
        </td>
    </tr>
</table>
            <table>
                <tr>
                    <th colspan="2" align="center">Key</th>
                    <th colspan="2" align="center">Mapping</th>
                </tr>
                @foreach (var property in Model.Mapping.GetType().GetProperties())
                {
                    var value = property.GetValue(Model.Mapping);
                    var displaycss = property.Name == "MappingId" ? "none" : "block";
                    <tr style="display:@displaycss">
                        <td>@property.Name</td>
                        <td>
                            <input type="text" name="Mapping.@property.Name" value="@value" />
                        </td>
                    </tr>

                }

            </table>

            <input type="submit" class="btn btn-primary" value="Save" />
    }
    </div>
