﻿@model KCC_App.KCCModels.Application

@{ ViewData["Title"] = "Home Page";
    Layout = "/views/shared/_layout.cshtml";

 }
<div>
    <h2>Batch Details</h2>
</div>

  <div class="row">
      <div class="col">
          <label for="formGroupExampleInput" class="form-label">BATCH ID</label>
          @Html.TextBoxFor(m => m.batchId)

      </div>
      <div class="col">
          <label for="formGroupExampleInput2" class="form-label">FINANCIAL YEAR</label>
          @Html.TextBoxFor(m => m.Batch.financialYear)

      </div>
      <div class="col">
          <label for="formGroupExampleInput2" class="form-label">BATCH STATUS</label>
          @Html.TextBoxFor(m => m.Batch.BatchResponse.status)


      </div>
</div>



<head>

    <style>
        div.scroll {
            width: 1100px;
            height: 250px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: center;
        }

        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 30%;
            font-size: 14px;
            /* padding: 12px 20px 12px 40px;*/
            border: 1px solid #ddd;
            margin-bottom: 12px;
            height: 40px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

            #myTable th {
                text-align: left;
                padding: 12px;
                position: sticky;
                top: 0px;
            }

            #myTable td {
                text-align: left;
                padding: 12px;
            }

            #myTable tr {
                border-bottom: 1px solid #ddd;
            }

                #myTable tr.header, #myTable tr:hover {
                    background-color: #f1f1f1;
                }




        .file-upload {
            background-color: #ffffff;
            width: 450px;
            margin: 0 auto;
            padding: 0px;
        }

        .file-upload-btn {
            width: 100%;
            margin: 0;
            color: #fff;
            background: #1FB264;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border-bottom: 4px solid #15824B;
            transition: all .2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }

            .file-upload-btn:hover {
                background: #1AA059;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
            }

            .file-upload-btn:active {
                border: 0;
                transition: all .2s ease;
            }

        .file-upload-content {
            display: none;
            text-align: center;
        }

        .file-upload-input {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
        }

        .image-upload-wrap {
            margin-top: 0px;
            border: 1px dashed gray;
            position: relative;
            height: 100px;
        }

        .image-title-wrap {
            padding: 0 15px 15px 15px;
            color: #222;
        }

        .drag-text {
            text-align: center;
        }

            .drag-text h3 {
                font-weight: 100;
                text-transform: uppercase;
                color: #15824B;
                padding: 60px 0;
            }

        .file-upload-image {
            max-height: 200px;
            max-width: 200px;
            margin: auto;
            padding: 20px;
        }

        .remove-image {
            width: 200px;
            margin: 0;
            color: #fff;
            background: #cd4535;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border-bottom: 4px solid #b02818;
            transition: all .2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }

            .remove-image:hover {
                background: #c13b2a;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
            }

            .remove-image:active {
                border: 0;
                transition: all .2s ease;
            }
    </style>
</head>
<body>
    <h2>Application</h2>
    <div class="scroll">
        <table id="myTable">
            <tr class="header">
                <th style="width:10%;">Ackn No.</th>
                <th style="width:20%;">Application ID</th>
                <th style="width:20%;">Account No.</th>
                <th style="width:20%;">Beneficiary Name</th>
                <th style="width:10%;">Mobile No.</th>
                <th style="width:10%;">Farmer Category</th>
                <th style="width:10%;">Record Status</th>
                <th></th>

            </tr>
            <tr>
                <td>@Model.batchId</td>
                <td>@Model.uniqueId</td>
                <td>@Model.accountDetails.accountNumber</td>
                <td>@Model.basicDetails.beneficiaryName</td>
                <td>@Model.basicDetails.mobile</td>
                <td>@Model.basicDetails.farmerCategory</td>
                <td>@Model.recordStatus</td>
                <td>
                    <a asp-controller="Transaction" asp-action="Details" asp-route-id="@Model.batchId">
                        <input type="submit" class="btn btn-primary" value="View" />
                    </a>
                </td>
            </tr>
            </table>
    </div>

        <script>
            function myFunction() {
               
                input = document.getElementById("myInput");
                
            }
        </script>
    </body>

