﻿@model KCC_App.KCCModels.Application

@{ ViewData["Title"] = "Home Page";
    Layout = "/views/shared/_layout.cshtml"; }

<div>
    <h3>Basic Details</h3>

    <div class="row">
        <div class="col">
            <label for="formGroupExampleInput" class="form-label">Application ID</label>
            @Html.TextBoxFor(m => m.batchId)


        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">Beneficiary Name</label>
            @Html.TextBoxFor(m => m.basicDetails.beneficiaryName)

        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">Aadhaar Number</label>
            @Html.TextBoxFor(m => m.basicDetails.aadhaarNumber)

        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">Beneficiary Passbook Number</label>
            @Html.TextBoxFor(m => m.basicDetails.beneficiaryPassbookName)

        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="formGroupExampleInput" class="form-label">Mobile</label>
            @Html.TextBoxFor(m => m.basicDetails.mobile)

        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">Date of Birth</label>
            @Html.TextBoxFor(m => m.basicDetails.dob)

        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">Gender</label>
            @Html.TextBoxFor(m => m.basicDetails.gender)

        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">Social Category</label>
            @Html.TextBoxFor(m => m.basicDetails.socialCategory)

        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="formGroupExampleInput" class="form-label">Farmer Category</label>
            @Html.TextBoxFor(m => m.basicDetails.farmerCategory)


        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">Farmer Type</label>
            @Html.TextBoxFor(m => m.basicDetails.farmerType)

        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">Primary Occupations</label>
            @Html.TextBoxFor(m => m.basicDetails.primaryOccupation)

        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">Relative Type</label>
            @Html.TextBoxFor(m => m.basicDetails.relativeType)

        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="formGroupExampleInput" class="form-label">Relative Name</label>
            @Html.TextBoxFor(m => m.basicDetails.relativeName)


        </div>

    </div>

</div>


<div>
    <h3>Loan Details</h3>

    <div class="row">
        <div class="col">
            <label for="formGroupExampleInput" class="form-label">Application ID</label>
            @Html.TextBoxFor(m => m.loanDetails.ApplicationId)


        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">KCC Loan Sanction Date</label>
            @Html.TextBoxFor(m => m.loanDetails.kccLoanSanctionedDate)

        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">KCC Limit Sanctioned Amount</label>
            @Html.TextBoxFor(m => m.loanDetails.kccLimitSanctionedAmount)

        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">KCC Drawing LImit for Financial Year</label>
            @Html.TextBoxFor(m => m.loanDetails.kccDrawingLimitForFY)

        </div>
    </div>
</div>

<div>
    if()
    <h3>Activity</h3>
    <div class="row">
       
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">Activity Type</label>
          
        <div class="col">
            <label for="formGroupExampleInput" class="form-label">Loan Sanctioned Date</label>
           
        </div>
        <div class="col">
            <label for="formGroupExampleInput2" class="form-label">Loan Sanctioned Amount</label>
            
        </div>

    </div>
</div>
<head>

    <style>
        div.scroll {
            width: 1100px;
            height: 250px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: center;
        }

        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 30%;
            font-size: 14px;
            /* padding: 12px 20px 12px 40px;*/
            border: 1px solid #ddd;
            margin-bottom: 12px;
            height: 40px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

            #myTable th {
                text-align: left;
                padding: 12px;
                position: sticky;
                top: 0px;
            }

            #myTable td {
                text-align: left;
                padding: 12px;
            }

            #myTable tr {
                border-bottom: 1px solid #ddd;
            }

                #myTable tr.header, #myTable tr:hover {
                    background-color: #f1f1f1;
                }




        .file-upload {
            background-color: #ffffff;
            width: 450px;
            margin: 0 auto;
            padding: 0px;
        }

        .file-upload-btn {
            width: 100%;
            margin: 0;
            color: #fff;
            background: #1FB264;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border-bottom: 4px solid #15824B;
            transition: all .2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }

            .file-upload-btn:hover {
                background: #1AA059;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
            }

            .file-upload-btn:active {
                border: 0;
                transition: all .2s ease;
            }

        .file-upload-content {
            display: none;
            text-align: center;
        }

        .file-upload-input {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
        }

        .image-upload-wrap {
            margin-top: 0px;
            border: 1px dashed gray;
            position: relative;
            height: 100px;
        }

        .image-title-wrap {
            padding: 0 15px 15px 15px;
            color: #222;
        }

        .drag-text {
            text-align: center;
        }

            .drag-text h3 {
                font-weight: 100;
                text-transform: uppercase;
                color: #15824B;
                padding: 60px 0;
            }

        .file-upload-image {
            max-height: 200px;
            max-width: 200px;
            margin: auto;
            padding: 20px;
        }

        .remove-image {
            width: 200px;
            margin: 0;
            color: #fff;
            background: #cd4535;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border-bottom: 4px solid #b02818;
            transition: all .2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }

            .remove-image:hover {
                background: #c13b2a;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
            }

            .remove-image:active {
                border: 0;
                transition: all .2s ease;
            }
    </style>
</head>
<body>
   
    <h3>Activity Row</h3>
    <div class="scroll">
        <table id="myTable">
            <tr class="header">
                <th style="width:10%;">Application ID</th>
                <th style="width:10%;">Land Village</th>
                <th style="width:20%;">Crop Code</th>
                <th style="width:20%;">Survey Number</th>
                <th style="width:20%;">Khata Number</th>
                <th style="width:10%;">Land Area</th>
                <th style="width:10%;">Land Type</th>
                <th style="width:10%;">Season</th>
                <th style="width:10%;">Plantation Code</th>
                <th style="width:10%;">Plantation Area</th>
                <th style="width:10%;">Live Stock Type</th>
                <th style="width:10%;">Live Stock Code</th>
                <th style="width:10%;">Unit Count</th>
                <th style="width:10%;">Inland Type</th>
                <th style="width:10%;">Total Units</th>
                <th style="width:10%;">Total Area</th>
                <th style="width:10%;">Marine Type</th>

            </tr>
            <tr>
                
            </tr>


        </table>
        </div>

        <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            
        }
        </script>
    
</body>

