﻿@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<KCC_App.KCCModels.Application>

@{ ViewData["Title"] = "Application List"; }


@Html.Partial("_Flash")


<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row hide">
            <div class="col-sm-12 text-right">
                <div class="card">
                    <div class="card-footer">
                        @*<button class="btn btn-sm btn-primary" type="submit" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-upload"></i> Upload
                            </button>
                            <button class="btn btn-sm btn-primary" type="reset">
                                <i class="fa fa-refresh"></i> Refresh
                            </button>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-7"><strong><h4>Application List</h4></strong></div>
                            <div class="col-md-5" style="float: right;">
                                <div class="row">

                                    <div class="col-md-12" align="right">
                                        <div class="btn-group">
                                            <form action="/Batch/List" method="post">
                                                <div class="form-actions no-color">
                                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                                        <input type="text" hidden name="page" value="@Model.PageNumber" />
                                                        <input type="text" class="search form-control form-control-sm" margin-left name="qry" value="@ViewData["CurrentFilter"]" />
                                                        <input type="submit" value="Search" class="btn btn-sm btn-primary" />
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            <button class="btn btn-sm btn-primary" type="reset" onClick="document.location.reload(true)">
                                                <i class="fa fa-refresh"></i> Refresh
                                            </button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            @if (!string.IsNullOrEmpty(Model.First().applicationNumber))
                                            {
                                                <button id="delete" class="btn btn-sm btn-danger" style="display: none;" onclick="location.href='@Url.Action("DeleteMultipleApplications", "Batch",new {batchId = Model.First().batchId})'">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table  id="myTable" class="table table-responsive-sm table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Batch No</th>
                                    <th>Unique Id</th>
                                    <th>Application No.</th>
                                    <th>Farmer Id</th>
                                    <th>Account No.</th>
                                    <th>Beneficiary Name</th>
                                    <th>Mobile No.</th>
                                    
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model)
                                {
                                    <tr data-row-id="@x.applicationNumber">
                                        <td><input type="checkbox" data-checkbox-id="@x.applicationNumber"></td>
                                        <td>@x.batchId</td>
                                        <td>@x.uniqueId</td>
                                        <td>@x.applicationNumber</td>
                                        <td>@x.farmerId</td>
                                        <td>@x.accountDetails.accountNumber</td>
                                        <td>@x.basicDetails.beneficiaryName</td>
                                        <td>@x.basicDetails.mobile</td>
                                       
                                        <td>@x.loanDetails.kccLimitSanctionedAmount</td>
                                        @if (@x.errors != null && @x.errors.Count() > 0)
                                        {
                                            <td>Failure</td>
                                        }
                                        else
                                        {
                                            <td>@x.AppStatus.Name</td>
                                        }
                                        <td>
                                            <a asp-controller="Batch" asp-action="Application" asp-route-id="@x.uniqueId">
                                                <button class="btn btn-sm btn-primary" type="submit">
                                                    <i class="fa fa-eye"></i> 
                                                </button>
                                            </a>
                                            @if (!string.IsNullOrEmpty(x.applicationNumber))
                                            {
                                                <a href="@Url.Action("DeleteApplicationList", "Batch",new {id=x.applicationNumber,batchId=x.batchId})">
                                                    <button class="btn btn-sm btn-danger" type="submit">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <nav>
                            @Html.PagedListPager(Model, page => Url.Action("Applications", new { page = page }), new PagedListRenderOptions()
                            {
                            ActiveLiElementClass = "active",
                            PageClasses = new[]{ "page-link"},
                            LiElementClasses=new[] { "page-item" },
                            UlElementClasses = new[] { "pagination","mt-3" },
                            LinkToNextPageFormat = "Next",
                            LinkToPreviousPageFormat = "Previous",
                            MaximumPageNumbersToDisplay = 10,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                            DisplayLinkToNextPage = PagedListDisplayMode.Always
                            })
                          
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center ">
                <div>
                    <h4 class="modal-title ">Upload</h4>
                </div>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div>
                    <form action="/action_page.php">
                        <input type="file" id="myFile" name="filename">
                    
                    </form>
                </div>
            </div>
            <div class="modal-footer" >
                
                        <button class="btn btn-primary" type="button"><i class="fa fa-download"></i> Download Sample</button>
                        <button class="btn btn-primary" type="button"><i class="fa fa-upload"></i> Upload</button>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
              </div>
                
        </div>
       
    </div>
    
</div>
<script>
    $(document).ready(function () {
        $('#myTable input[type="checkbox"]').on('change', function () {
            var anyCheckboxSelected = $('#myTable input[type="checkbox"]:checked').length > 0;
            $('#delete').toggle(anyCheckboxSelected); // Show or hide delete button based on checkbox selection
        });

        $('#delete').on('click', function () {
            var selectedRows = [];
            $('#myTable input:checked').each(function () {
                var rowId = $(this).data('checkbox-id');
                selectedRows.push(rowId);
            });
            //if (selectedRows.length === 0) {
            //    alert('Please select at least one row to delete.');
            //    return; // Exit the function if no checkboxes are selected
            //}
            if (selectedRows.length > 0) {
                $.ajax({
                    url: '@Url.Action("DeleteMultipleApplications", "Batch")',
                    method: 'POST',
                    data: { rows: selectedRows }
                    //success: function (response) {
                    //    // Handle the server response
                    //    console.log(response);
                    //    alert('Rows deleted successfully');

                    //},
                    //error: function (xhr, status, error) {
                    //    // Handle the AJAX error
                    //    console.log(error);
                    //    alert('An error occurred while deleting rows');
                    //}
                });
            }

        });
    });
</script>

