﻿@using KCC_App.KCCModels
@model KCC_App.KCCModels.Batch


@{ ViewData["Title"] = "Batch Detail"; }


@Html.Partial("_Flash")



<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row hide">
            <div class="col-sm-12 text-right">
                <div class="card">
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button class="btn btn-sm btn-danger" type="reset">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <strong>Batch Detail</strong>
                        </div>
                        <div class="pull-right">
                            <button id="btn" class="btn btn-sm btn-primary" type="reset" onclick="location.href='@Url.Action("RefreshBatchStatus", "Batch",new { batchAckId = Model.BatchResponseData.batchAckId,batchId = Model.batchId})'">
                                <i class="fa fa-refresh"></i> Refresh
                            </button>
                        </div>
                        
                    </div>
                   
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Batch Id</label>
                                    @Html.TextBoxFor(m=>m.batchId, new {@class = "form-control readonly",@readonly = true, placeholder = "Batch Id" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Financial Year</label>
                                    @Html.TextBoxFor(m=>m.financialYear, new { @class = "form-control readonly",@readonly = true, placeholder = "Financial Year" })
                                </div>
                           </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Batch Status</label>
                                    @Html.TextBoxFor(m=>m.BatchResponseData.BatchStatus.Name, new { @class = "form-control readonly",@readonly = true, placeholder = "Batch Status" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <strong>Errors</strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul>
                            @if (Model.BatchResponseData != null && Model.BatchResponseData.errors!=null && Model.BatchResponseData.errors.Count() > 0)
                            {
                                @foreach (String error in Model.BatchResponseData.errors)
                                {
                                    <li>@error</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                         <div class="pull-left">
                            <strong>Applications</strong>
                            
                        </div>
                        <div class="pull-right">
                            @*<a href="@Url.Action("getMultiple", "Batch",new{ids = })">*@
                            @if (!string.IsNullOrEmpty(Model.applications.First().applicationNumber))
                            {
                                <button id="delete" class="btn btn-sm btn-danger"  style="display: none;" onclick="location.href='@Url.Action("DeleteMultiple", "Batch",new {batchId = Model.batchId })'">
                                    <i class="fa fa-trash"></i></button>
                            }
                                
                            @*</a>*@
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <table id="myTable" class="table table-responsive-sm table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Batch Id</th>
                                    <th>Unique Id</th>
                                    <th  @*style="width:20%;"*@>Application No.</th>
                                    <th @* style="width:20%;"*@>Farmer Id</th>
                                    <th>Account No.</th>
                                    <th>Beneficiary Name</th>
                                    <th>Mobile No.</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model.applications.Where(x=>x.isDeleted==0))
                                {
                                    var index = @Model.applications.IndexOf(x) + 1;
                                    <tr data-row-id="@x.applicationNumber">

                                    @*<td>@Html.CheckBox("Application ID", new { value = @x.uniqueId }) @x.uniqueId</td>*@
                                    <td><input type="checkbox" data-checkbox-id="@x.applicationNumber"></td>
                                    <td>@x.batchId</td>
                                    <td>@x.uniqueId</td>
                                    <td>@x.applicationNumber </td>
                                    <td>@x.farmerId</td>
                                    <td>@x.accountDetails.accountNumber</td>
                                    <td>@x.basicDetails.beneficiaryName</td>
                                    <td>@x.basicDetails.mobile</td>
                                    <td>@x.loanDetails.kccLimitSanctionedAmount</td>
                                        @if(@x.errors!=null && @x.errors.Count() > 0)
                                        {
                                            <td>Failure</td>
                                        }
                                        else{
                                            <td>@x.AppStatus.Name</td>
                                        }
                                    <td>
                                            <a asp-controller="Batch" asp-action="Application" asp-route-id="@x.uniqueId">
                                                <button class="btn btn-sm btn-primary" type="submit">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </a>
                                            @if (!string.IsNullOrEmpty(x.applicationNumber))
                                            {

                                                <a href="@Url.Action("DeleteApplicationBatch", "Batch",new {id=x.applicationNumber, batchId = Model.batchId})">
                                                    <button class="btn btn-sm btn-danger" type="submit">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </a>
                                            }
                                        </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        @*<nav>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">Prev</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>*@
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable input[type="checkbox"]').on('change', function () {
            var anyCheckboxSelected = $('#myTable input[type="checkbox"]:checked').length > 0;
            $('#delete').toggle(anyCheckboxSelected); // Show or hide delete button based on checkbox selection
        });

        $('#delete').on('click', function() {
            var selectedRows = [];
            $('#myTable input:checked').each(function () {
                var rowId = $(this).data('checkbox-id');
                selectedRows.push(rowId);
            });
        //if (selectedRows.length === 0) {
        //    alert('Please select at least one row to delete.');
        //    return; // Exit the function if no checkboxes are selected
        //}
        if(selectedRows.length>0){
            $.ajax({
                url: '@Url.Action("DeleteMultiple", "Batch")',
                method: 'POST',
                data: { rows: selectedRows }
                    //success: function (response) {
                    //    // Handle the server response
                    //    console.log(response);
                    //    alert('Rows deleted successfully');
                      
                    //},
                    //error: function (xhr, status, error) {
                    //    // Handle the AJAX error
                    //    console.log(error);
                    //    alert('An error occurred while deleting rows');
                    //}
            });
        }
        
        });
   });
</script>



