﻿@{
    ViewData["Title"] = "KCC Upload Job";
}
<h1>@ViewData["Title"]</h1>

<p>Job Scheduled successfully. If you want to see the status of job use the link below</p>
<p>
    <a class="btn btn-primary" href="~/jobs/jobs/enqueued">Jobs Dashboard</a>
</p>
