﻿<head>

    @*Capcha style start*@

    <style>
        .cp {
            padding: 12px 20px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 12px 30px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }

        canvas {
            /*prevent interaction with the canvas*/
            pointer-events: none;
        }
    </style>

    @*Capcha style stop*@
</head>

<body onload="createCaptcha()">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="/images/NewLogo.png" class="brand_logo" alt="CRGB">
                    </div>
                </div>


                <form id="account" asp-controller="Home" asp-antiforgery="true" asp-action="Login" method="post" autocomplete="off" role="form">
                    <div class="input-group mb-3 d-flex justify-content-center">
                        <b style="margin-top:30px;color:white;">
                            MyUGB Common Login
                        </b>

                    </div>
                    @*<div asp-validation-summary="All" class="text-danger alert alert-block"></div>*@
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        @*<input asp-for="Username" type="text" class="form-control input_user" placeholder="User Id" required="required" AutoCompleteType="Disabled">*@

                    </div>
                    @*<span asp-validation-for="Username" class="text-danger"></span>*@
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        @*<input asp-for="Password" type="password" class="form-control input_pass" value="" required="required" placeholder="Password">*@
                    </div>
                  @*  <span asp-validation-for="Password" class="text-danger"></span>*@
                    @*<dnt-captcha asp-captcha-generator-max="99"
                        asp-captcha-generator-min="1"
                        asp-captcha-generator-language="English"
                        asp-captcha-generator-display-mode="SumOfTwoNumbersToWords"
                        asp-use-relative-urls="true"
                        asp-placeholder="Security code as a number"
                        asp-validation-error-message="Please enter the security code as a number."
                        asp-font-name="Tahoma"
                        asp-font-size="16"
                        asp-fore-color="#333333"
                        asp-back-color="#ccc"
                        asp-text-box-class="text-box form-control"
                        asp-text-box-template="<div class='input-group'><span class='input-group-prepend'><span class='input-group-text'><i class='fas fa-lock'></i></span></span>{0}</div>"
                        asp-validation-message-class="text-danger"
                        asp-refresh-button-class="fas fa-redo btn-sm"
                        asp-show-refresh-button="false" />*@


                    @*capcha code start*@
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class='fas fa-arrow-right-from-bracket'></i>
                        </span>
                        <div id="captcha" style="margin-left:20px;">
                        </div>

                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </span>
                        <input id="cpatchaTextBox" type="text" class="form-control" placeholder="Enter Capcha Code" required="required" autocomplete="off">

                    </div>
                    @*capcha code stop*@

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button id="subButton" type="submit" value="Login" class="btn login_btn">Login</button>
                    </div>
                </form>

                <div class="mt-4">

                    <div class="d-flex justify-content-center links">
                        <b>For resetting password contact HO IT </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var code;
    function createCaptcha() {
      //clear the contents of captcha div first
      document.getElementById('captcha').innerHTML = "";
      var charsArray =
      "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";
      var lengthOtp = 6;
      var captcha = [];
      for (var i = 0; i < lengthOtp; i++) {
        //below code will not allow Repetition of Characters
        var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
        if (captcha.indexOf(charsArray[index]) == -1)
          captcha.push(charsArray[index]);
        else i--;
      }
      var canv = document.createElement("canvas");
      canv.id = "captcha";
      canv.width = 100;
      canv.height = 30;
      var ctx = canv.getContext("2d");
      ctx.font = "22px Georgia";
      ctx.strokeText(captcha.join(""), 0, 25);
      //storing captcha so that can validate you can save it somewhere else according to your specific requirements
      code = captcha.join("");
      document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
    }
    document.addEventListener("DOMContentLoaded", () => {
        var subButton = document.getElementById("subButton");
        subButton.addEventListener('click', function (e) {
            if (document.getElementById("cpatchaTextBox").value != code) {
                e.preventDefault();
                alert("Invalid Captcha. try Again");
                createCaptcha();
            }
        });
    });

    //$(document).on('click', '#account button[type=submit]', function (e) {
    //        //var password = $("[id*=txtPassword]").val();
    //        //    var confirmPassword = $("[id*=txtConfirmPassword]").val();
    //        //    if (password != confirmPassword) {
    //        //        e.preventDefault();
    //        //        alert("Passwords do not match.");
    //        //    }
    //         if (document.getElementById("cpatchaTextBox").value != code) {
    //            e.preventDefault();
    //            alert("Invalid Captcha. try Again");
    //            createCaptcha();
    //        }
    //})

</script>
