﻿@model List<KCC_App.KCCModels.GeneralMasters>
@{
    ViewData["Title"] = "Setting";
}
@Html.Partial("_Flash")

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row hide">
                <div class="col-sm-12 text-right">
                    <div class="card">
                        <div class="card-footer">
                            @*<button class="btn btn-sm btn-primary" type="submit" onclick="location.href='@Url.Action("exportToExcelForGeneralMaster", "Master" )'">
                                <i class="fa fa-download"></i> Excel
                            </button>
                            <button class="btn btn-sm btn-primary" type="reset" onclick="location.href='@Url.Action("SyncMasterData", "Master" )'">
                               
                                <i class="fa fa-refresh"></i> Refresh
                            </button>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <strong><h4>General Master</h4></strong>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-sm btn-primary" type="submit" onclick="location.href='@Url.Action("exportToExcelForGeneralMaster", "Master" )'">
                                    <i class="fa fa-download"></i> Excel
                                </button>
                                <button class="btn btn-sm btn-primary" type="reset" onclick="location.href='@Url.Action("SyncMasterData", "Master" )'">

                                    <i class="fa fa-refresh"></i> Refresh
                                </button>
                            </div>
                           
                        </div>
                        <div class="card-body">
                            <table  id="myTable" class="table table-responsive-sm table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th width="5%">SNo.</th>
                                        <th>Type</th>
                                        <th>Code</th>
                                        <th>Value</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var x in Model)
                                    {
                                        var index = @Model.IndexOf(x) + 1;
                                        <tr>
                                            <td>@index</td>
                                            <td>@x.type</td>
                                            <td>@x.code</td>
                                            <td>@x.value</td>
                                            
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @*<nav>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#">Prev</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>