﻿@model KCC_App.Models.LocationPageModel
@{
    ViewData["Title"] = "Locations";
}
@Html.Partial("_Flash")

    <div class="container-fluid">
        <div class="animated fadeIn">
        <div class="row hide">
                <div class="col-sm-12 text-right">
                    <div class="card">
                        <div class="card-footer">
                           @* <button class="btn btn-sm btn-primary" type="submit" onclick="location.href='@Url.Action("exportToExcelForLocation", "Master" )'">
                                <i class="fa fa-download"></i> Excel
                            </button>
                        <button class="btn btn-sm btn-primary" type="reset" onclick="location.href='@Url.Action("SyncLocations", "Master", new { district=Model.district} )'">
                                <i class="fa fa-refresh"></i> Refresh
                            </button>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <strong><h4>Locations</h4></strong>
                            </div>
                            
                           <div class="pull-right">
                                <div class="pull-left">
                                    <div class="input-group">
                                        <label class="form-control" for="district">District </label>
                                        @Html.DropDownList("district",ViewBag.districts as SelectList,new {@class="form-control",@onchange = "document.location.href = '/Master/Locations?district=' + this.options[this.selectedIndex].value;"})
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-sm btn-primary" type="submit" onclick="location.href='@Url.Action("exportToExcelForLocation", "Master" )'">
                                        <i class="fa fa-download"></i> Excel
                                    </button>
                                    <button class="btn btn-sm btn-primary" type="reset" onclick="location.href='@Url.Action("SyncLocations", "Master", new { district=Model.district} )'">
                                        <i class="fa fa-refresh"></i> Refresh
                                    </button>
                                </div>
                           
                            </div>
                            @*<small>Form</small>*@
                        </div>
                        <div class="card-body">
                            <table  id="myTable" class="table table-responsive-sm table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th width="5%">SNo.</th>
                                        <th>District</th>
                                        <th>Level-4 Code</th>
                                        <th>Level-4 Name</th>
                                        <th>Level-7 Code</th>
                                        <th>Level-7 Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var x in Model.locations)
                                    {
                                        var index = @Model.locations.IndexOf(x) + 1;
                                    <tr>
                                        <td>@index</td>
                                        <td>@x.Districts.districtName</td>
                                        <td>@x.level4Code</td>
                                        <td>@x.level4Name</td>
                                        <td>@x.level7Code</td>
                                        <td>@x.level7Name</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            @*<nav>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#">Prev</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>