﻿@using KCC_App.Models
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutFullScreen";
}
<head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    @*Captcha style start*@
    <style>
        .cp {
            padding: 12px 20px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 12px 30px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }

        canvas {
            /*prevent interaction with the canvas*/
            pointer-events: none;
        }

        .col-md-8 {
            -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
            max-width: 40%;
        }
    </style>
    @*Captcha style stop*@
</head>
@Html.ValidationSummary()
<body onload="createCaptcha()">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form method="post">
                        <h1>Login</h1>
                        <div asp-validation-summary="All" class="text-danger">
                    <div class="card-group">
                        <div class="card p-4 h-200">
                            <div class="card-body">
                                <p class="text-muted">Sign In to your account</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-user"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Username" class="form-control" type="email" placeholder="Username" />
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </div>
                                <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
                                </div>
                                @*capcha code start*@
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                         <i class="fa fa-lock" aria-hidden="true"></i>
                                    </span>
                                    <div id="captcha" style="margin-left:20px;">
                                    </div>

                                </div>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                    <input id="cpatchatextbox" type="text" class="form-control" placeholder="enter capcha code" required="required" autocomplete="off">

                                </div>
                                @*capcha code stop*@
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-primary px-4" type="submit" asp-action="Login" asp-controller="Public">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var code;
    function createCaptcha() {
        //clear the contents of captcha div first
        document.getElementById('captcha').innerHTML = "";
        var charsArray =
            "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var lengthOtp = 6;
        var captcha = [];
        for (var i = 0; i < lengthOtp; i++) {
            //below code will not allow Repetition of Characters
            var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
            if (captcha.indexOf(charsArray[index]) == -1)
                captcha.push(charsArray[index]);
            else i--;
        }
        var canv = document.createElement("canvas");
        canv.id = "captcha";
        canv.width = 100;
        canv.height = 30;
        var ctx = canv.getContext("2d");
        ctx.font = "22px Georgia";
        ctx.strokeText(captcha.join(""), 0, 25);
        //storing captcha so that can validate you can save it somewhere else according to your specific requirements
        code = captcha.join("");
        document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
    }
    document.addEventListener("DOMContentLoaded", () => {
        var subButton = document.getElementById("subButton");
        subButton.addEventListener('click', function (e) {
            if (document.getElementById("cpatchaTextBox").value != code) {
                e.preventDefault();
                alert("Invalid Captcha. try Again");
                createCaptcha();
            }
        });
    });
</script>

